/*
 * @Author: terris
 * @Github: https://github.com/qinglingzhiyu
 * @Date: 2019-06-28 09:28:58
 * @LastEditors: terris
 * @LastEditTime: 2019-07-05 19:10:08
 * @Description: 这是首页的样式
 */


.main {
  font-family: PingFang SC;

  .main_search {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 8px 14px;
    width: 100%;
    height: 80px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;

    &-location-img {
      width: 44px;
      height: 44px;
    }

    &-location-text {}

    &-input {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 26px;
      width: 520px;
      height: 64px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 32px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      -o-border-radius: 32px;

      &-img {
        width: 44px;
        height: 44px;
      }

      &-text {
        margin-left: 10px;
      }
    }

    &-message {
      margin-left: 10px;
      width: 44px;
      height: 44px;
    }
  }

  &-topbanner {
    position: relative;
    z-index: 1;
  }

  &-carbanner {
    position: relative;
    top: -20rpx;
    z-index: 2;
  }

  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 32px;
    width: 100%;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &-img {
        width: 84px;
        height: 84px;
      }

      &-text {
        font-size: 24px;
        font-weight: 800;
        line-height: 34px;
        color: rgba(51, 51, 51, 1);
      }
    }
  }

  &-redpack {
    margin-top: 20px;
    width: 100%;

    &-img {
      display: block;
      margin: 0 auto;
      width: 688px;
      height: 144px;
    }
  }

  &-handpick {
    width: 100%;
    height: 56px;
    padding: 0 28px;

    &-img {
      width: 132px;
      height: 56px;
    }

    &-swiper {

    }
  }

}
